# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

#Visual studio
.vscode/

#Pycharm
.idea
.idea/
.idea/*

# Python
__pycache__/

# Project
./config.ini
config.ini
# ./database.ini
# database.ini